<!--begin::Category-->
<div class="card card-flush">
  <!--begin::Card header-->
  <div class="card-header align-items-center py-5 gap-2 gap-md-5">
    <!--begin::Search-->
    <div class="d-flex align-items-center position-relative my-1">
      <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
      <span class="svg-icon svg-icon-1 position-absolute ms-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <rect
            opacity="0.5"
            x="17.0365"
            y="15.1223"
            width="8.15546"
            height="2"
            rx="1"
            transform="rotate(45 17.0365 15.1223)"
            fill="currentColor"
          />
          <path
            d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
            fill="currentColor"
          />
        </svg>
      </span>
      <!--end::Svg Icon-->
      <input
        matInput
        type="text"
        (keyup)="applyFilter($event)"
        class="form-control form-control-solid w-250px ps-14"
        placeholder="Buscar Productos"
      />
    </div>
    <!--end::Search-->

    <!--end::Card title-->
    <!--begin::Card toolbar-->
    <div class="card-toolbar">
      <!--begin::Add customer-->
      <a routerLink="/admin/almacen/categoria/nuevo" class="btn btn-primary">
        <i class="fa fa-plus" id="p-icon"></i>
        <span>Ingresar Nuevos Productos</span></a
      >
      <!--end::Add customer-->
    </div>
    <!--end::Card toolbar-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body pt-0">
    <!--begin::Table-->
    <div class="example-container" style="overflow-y: auto; justify-content: center;">
      <div class="table-responsive">
        <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Código</mat-header-cell
            >
            <mat-cell *matCellDef="let row" data-label="Código" class="mt-4">
              {{ row.code }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Nombre
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Nombre" class="mt-4">
              {{ row.name }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="stock">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Stock
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="mt-4">
              {{ row.stock }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Precio Compra
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="mt-4">
              {{ row.price }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="price_sale">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Precio Compra
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="mt-4">
              {{ row.price }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="brand">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Marca
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="mt-4">
              {{ row.brand.name }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Acciones
            </mat-header-cell>
            <mat-cell *matCellDef="let product" data-label="Acciones" class="mt-4">
              <a [routerLink]="['/admin/almacen/categoria', product.id]" class="btn btn-primary margin-btn">
                <i class="bi bi-pencil-fill fs-4"></i>
              </a>
              <a class="btn btn-danger" (click)="deleteProduct(product)">
                <i class="bi bi-trash-fill fs-4"></i>
              </a>
            </mat-cell>
          </ng-container>

          <tr *matNoDataRow class="nodata">
            <p>No se encontraron resultados con su búsqueda</p>
          </tr>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
        </mat-table>
      </div>

      <mat-paginator
        [pageSize]="5"
        [hidePageSize]="true"
        showFirstLastButtons
      ></mat-paginator>
    </div>

    <!--end::Table-->
  </div>
  <!--end::Card body-->
</div>
<!--end::Category-->
