/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.margin-btn {
  margin-right: 0.5rem;
}

.mat-mdc-table thead {
  background: #272c33 !important;
}

.mat-mdc-header-row,
.mat-sort-header-pointer-right,
.mat-sort-header-arrow {
  color: #fff !important;
}
.w100 {
  width: 100px;
}


.swal2-popup .swal2-title {
  font-weight: 500;
  font-size: 1.8rem!important;
  color: #181c32;
}


.mat-typography h2 {
  margin: 0!important;
}

.card-shadow{
  border: 1px solid #ccc!important;
  border-radius:10px;
  transition: box-shadow .3s;
}

.card-shadow:hover{
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
