 <!--begin::Home card-->
 <div class="card">
  <div class="card-header p-lg-7">
    <p class="fs-2 text-dark fw-bold text-dark lh-base text-uppercase">Acerca del sistema</p>
  </div>
  <!--begin::Body-->
  <div class="card-body">
    <!--begin::Section-->
    <div class="mb-10">
      <!--begin::Row-->
      <div class="row">
        <!--begin::Col-->
        <div class="col-md-12">
          <!--begin::Feature post-->
          <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
            <!--begin::Video-->
            <div class="mb-3">
              <img class="card-rounded h-275px w-100" src="../../../assets/media/about/bg-about.png"/>
            </div>
            <!--end::Video-->
            <!--begin::Body-->
            <div class="mb-5">

              <!--begin::Text-->
              <div class="fw-bold fs-5 text-gray-600 text-dark mt-4">
                NG STORE, es un sistema realizado para tener una gestión y control de tus productos.
                Así mismo mantien un registro en tiempo real de los productos agotados o en exceso de inventario, tambipén un control de ventas realizados,
                en el que también puede generar lso reportes respectivos optimizando la gestión de inventario y reduciendo
                tiempo y costos a la empresa o negocio.
              </div>
              <!--end::Text-->
            </div>
            <!--end::Body--
          </div>
          <!--end::Feature post-->
        </div>
        <!--end::Col-->
      </div>
      <!--begin::Row-->
    </div>
    <!--end::Section-->

    <!--begin::latest instagram-->
    <div class="">
      <!--begin::Section-->
      <div class="m-0">
        <!--begin::Content-->
        <div class="d-flex flex-stack">
          <!--begin::Title-->
          <h3 class="text-dark">El sistema está realizando por las siguientes tecnologías:</h3>
          <!--end::Title-->
        </div>
        <!--end::Content-->
        <!--begin::Separator-->
        <div class="separator separator-dashed border-gray-300 mb-9 mt-5"></div>
        <!--end::Separator-->
      </div>
      <!--end::Section-->
      <!--begin::Row-->
      <div class="row g-10 row-cols-2 row-cols-lg-4">
        <!--begin::Col-->
        <div class="col">
          <!--begin::Overlay-->
          <div class="d-block text-center">
            <!--begin::Image-->
            <div class="mb-5 overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/media/about/html5.png')"></div>
            <!--end::Image-->
            <p href="#" class="fs-3 fw-bolder text-gray-700 me-1 mb-2 lh-1">HTML5</p>
          </div>

        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col">
          <!--begin::Overlay-->
          <a class="d-block text-center">
            <!--begin::Image-->
            <div class="mb-5 overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/media/about/css3.png')"></div>
            <!--end::Image-->
            <p href="#" class="fs-3 fw-bolder text-gray-700 me-1 mb-2 lh-1">CSS3</p>
          </a>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col">
          <!--begin::Overlay-->
          <a class="d-block text-center">
            <!--begin::Image-->
            <div class="mb-5 overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/media/about/typescript.png')"></div>
            <!--end::Image-->
            <p href="#" class="fs-3 fw-bolder text-gray-700 me-1 mb-2 lh-1">TypeScript</p>
          </a>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col">
          <!--begin::Overlay-->
          <a class="d-block text-center">
            <!--begin::Image-->
            <div class="mb-5 overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/media/about/angular.png')"></div>
            <!--end::Image-->
            <p href="#" class="fs-3 fw-bolder text-gray-700 me-1 mb-2 lh-1">Angular</p>
          </a>
        </div>
        <!--end::Col-->

        <!--begin::Col-->
        <div class="col">
          <!--begin::Overlay-->
          <a class="d-block text-center">
            <!--begin::Image-->
            <div class="mb-5 overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/media/about/nodejs.png')"></div>
            <!--end::Image-->
            <p href="#" class="fs-3 fw-bolder text-gray-700 me-1 mb-2 lh-1">NodeJS</p>
          </a>
        </div>
        <!--end::Col-->

        <!--begin::Col-->
        <div class="col">
          <!--begin::Overlay-->
          <a class="d-block text-center">
            <!--begin::Image-->
            <div class="mb-5 overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/media/about/nestjs.png')"></div>
            <!--end::Image-->
            <p href="#" class="fs-3 fw-bolder text-gray-700 me-1 mb-2 lh-1">NestJS</p>
          </a>
        </div>
        <!--end::Col-->

        <!--begin::Col-->
        <div class="col">
          <!--begin::Overlay-->
          <a class="d-block text-center">
            <!--begin::Image-->
            <div class="mb-5 overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/media/about/typeorm.png')"></div>
            <!--end::Image-->
            <p href="#" class="fs-3 fw-bolder text-gray-700 me-1 mb-2 lh-1">TypeORM</p>
          </a>
        </div>
        <!--end::Col-->

        <!--begin::Col-->
        <div class="col">
          <!--begin::Overlay-->
          <a class="d-block text-center">
            <!--begin::Image-->
            <div class="mb-5 overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/media/about/postgre.png')"></div>
            <!--end::Image-->
            <p href="#" class="fs-3 fw-bolder text-gray-700 me-1 mb-2 lh-1">PostgreSQL</p>
          </a>
        </div>
        <!--end::Col-->
      </div>
      <!--begin::Row-->
    </div>
    <!--end::latest instagram-->
  </div>
  <!--end::Body-->
</div>
<!--end::Home card-->
