<!--begin::Container-->
<div id="kt_content_container" class="container-xxl">
  <form id="kt_ecommerce_add_category_form" class="form d-flex flex-column flex-lg-row" [formGroup]="brandForm" (submit)="onSubmit()">
    <!--begin::Aside column-->
    <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
      <!--begin::Thumbnail settings-->
      <div class="card card-flush py-4">
        <!--begin::Card header-->
        <div class="card-header">
          <!--begin::Card title-->
          <div class="card-title">
            <h2>Imagen</h2>
          </div>
          <!--end::Card title-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body text-center pt-0">
          <!--begin::Image input-->
          <div class="image-input image-input-empty image-input-outline mb-3" data-kt-image-input="true" style="background-image: url(assets/media/images/blank-image.svg)">
            <!--begin::Preview existing avatar-->
            <div class="image-input-wrapper w-150px h-150px"></div>
            <!--end::Preview existing avatar-->
            <!--begin::Label-->
            <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change"  data-bs-toggle="tooltip" title="Cambiar imagen">
              <!--begin::Icon-->
              <i class="bi bi-pencil-fill fs-7"></i>
              <!--end::Icon-->
              <!--begin::Inputs-->
              <input type="file" name="avatar" accept=".png, .jpg, .jpeg" (change)="onSelectedFile($event)" />
              <input formControlName="image" />
              <!--end::Inputs-->
            </label>
            <!--end::Label-->
            <!--begin::Cancel-->
            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
              <i class="bi bi-x fs-2"></i>
            </span>
            <!--end::Cancel-->
            <!--begin::Remove-->
            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
              <i class="bi bi-x fs-2"></i>
            </span>
            <!--end::Remove-->
          </div>
          <!--end::Image input-->
          <!--begin::Description-->
          <div class="text-muted fs-7">Establezca la imagen en miniatura de la categoría. Sólo se aceptan archivos de imagen *.png, *.jpg y *.jpeg</div>
          <!--end::Description-->
        </div>
        <!--end::Card body-->
        
      </div>
      <!--end::Thumbnail settings-->
      <!--begin::Status-->
      <div class="card card-flush py-4">
        <!--begin::Card header-->
        <div class="card-header">
          <!--begin::Card title-->
          <div class="card-title">
            <h2>Estado</h2>
          </div>
          <!--end::Card title-->
          <!--begin::Card toolbar-->
          <div class="card-toolbar">
            <div class="rounded-circle bg-success w-15px h-15px" id="kt_ecommerce_add_category_status"></div>
          </div>
          <!--begin::Card toolbar-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pt-0">
          <!--begin::Select2-->
          <select class="form-select mb-2" data-control="select2" data-hide-search="true" data-placeholder="Select an option" id="kt_ecommerce_add_category_status_select">
            <option></option>
            <option value="active" selected="selected">Activo</option>
            <option value="inactive">Inactivo</option>
          </select>
          <!--end::Select2-->
          <!--begin::Description-->
          <div class="text-muted fs-7">Selecciona el estado de la categoría</div>
          <!--end::Description-->
          <!--begin::Datepicker-->
          <div class="d-none mt-10">
            <label for="kt_ecommerce_add_category_status_datepicker" class="form-label">Select publishing date and time</label>
            <input class="form-control" id="kt_ecommerce_add_category_status_datepicker" placeholder="Pick date &amp; time" />
          </div>
          <!--end::Datepicker-->
        </div>
        <!--end::Card body-->
      </div>
      <!--end::Status-->
    </div>
    <!--end::Aside column-->
    <!--begin::Main column-->
    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
      <!--begin::General options-->
      <div class="card card-flush py-4">
        <!--begin::Card header-->
        <div class="card-header">
          <div class="card-title">
            <h2>General</h2>
          </div>
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pt-0">
          <!--begin::Input group-->
          <div class="mb-10 fv-row">
            <!--begin::Label-->
            <label class="required form-label">Código de la Categoría</label>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="text" name="category_name" class="form-control mb-2" placeholder="Escriba el código de la categoría" formControlName="code" />
            <!--end::Input-->
            <!--begin::Description-->
            <div class="text-muted fs-7">Se requiere y se recomienda que el nombre de categoría sea único.</div>
            <!--end::Description-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="mb-10 fv-row">
            <!--begin::Label-->
            <label class="required form-label">Nombre de la Categoría</label>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="text" name="category_name" class="form-control mb-2" placeholder="Escriba el nombre de la categoría" formControlName="name" />
            <!--end::Input-->
            <!--begin::Description-->
            <div class="text-muted fs-7">Se requiere y se recomienda que el nombre de categoría sea único.</div>
            <!--end::Description-->
          </div>
          <!--end::Input group-->
        </div>
        <!--end::Card header-->
      </div>
      <!--end::General options-->

      <div class="d-flex justify-content-end">
        <!--begin::Button-->
        <a href="../../demo1/dist/apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
        <!--end::Button-->
        <!--begin::Button-->
        <button type="submit" id="kt_ecommerce_add_category_submit" class="btn btn-primary">
          <span class="indicator-label">Save Changes</span>
          <span class="indicator-progress">Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
        </button>
        <!--end::Button-->
      </div>
    </div>
    <!--end::Main column-->
  </form>
</div>
<!--end::Container-->
